In [3]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
import json
import time

# Renders figures in the notebook instead of just showing the object
%matplotlib inline


# Census & gmaps API Keys
from config import (census_api_key, gkey)
c = Census(census_api_key, year=2017)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [4]:
#Census ACS 5
census_pop= c.acs5.get(("B01003_001E","B23025_002E","B23025_007E","NAME"), {'for': 'state:*'})

# Convert to DataFrame
census_pop_pd = pd.DataFrame(census_pop)
                                
census_pop_pd = census_pop_pd.rename(columns={"B01003_001E":"Total population","B23025_002E":"Employment labor force", 
                                                "B23025_007E": "Employment not labor force","NAME": "Name"})



census_pop_pd.head()

,Total population,Employment labor force,Employment not labor force,Name,state
0,3468963.0,1262220.0,1574064.0,Puerto Rico,72
1,4850771.0,2233209.0,1642927.0,Alabama,01
2,738565.0,400622.0,170831.0,Alaska,02
3,6809946.0,3197116.0,2174225.0,Arizona,04
4,2977944.0,1366102.0,984959.0,Arkansas,05

In [26]:
new_census=census_pop_pd.drop(['state'],axis=1)
new_census=new_census.set_index('Name')
employ=new_census.to_dict('index')
type(employ)
len(employ)

52

In [27]:
import pymongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

db = client.censusDB

# Insert a document into the 'employDB' collection
db.employ.insert_one(employ)

C:\Users\Laura\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

ObjectId('5c6f57840113e30ae80c73fa')