# API Census Data
This code will pull data from the US Census Bureau website using API calls

In [1]:
# Import appropirate dependencies
import pandas as pd
from census import Census

# Census & gmaps API Keys
from config import (census_api_key)
c = Census(census_api_key, year=2016)

### Collect the data

In [2]:
# Collect State income data: this is an API function call.
# The extracted data comes from U.S. Census Bureau, 2011-2015 American Community Survey 5-Year Estimates.

income_and_pop_data_states = c.acs5.get(("NAME", 'B19013_001E', 'B19301_001E', 'B01003_001E'), {'for': 'state:*'})

### Clean the data

In [3]:
# Change the header names from census codes to english words.
income_and_pop_data_states = pd.DataFrame(income_and_pop_data_states)
income_and_pop_data_states = income_and_pop_data_states.rename(columns={
                                      "B19013_001E": "Median Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B01003_001E": "Total Population",
                                      "NAME": "State"})

# Drop unneeded data, set the index to 'State', order the columns
income_and_pop_data_states = income_and_pop_data_states[['State', 'Total Population', 'Median Household Income', 'Per Capita Income']]
income_and_pop_data_states = income_and_pop_data_states.set_index('State')

# Format population and income values
income_and_pop_data_states = income_and_pop_data_states.astype({"Total Population": int})
income_and_pop_data_states['Median Household Income'] = income_and_pop_data_states['Median Household Income'].map('${:,.2f}'.format)
income_and_pop_data_states['Per Capita Income'] = income_and_pop_data_states['Per Capita Income'].map('${:,.2f}'.format)

income_and_pop_data_states.head()

            Total Population Median Household Income Per Capita Income
State
Alabama              4841164              $44,758.00        $24,736.00
Alaska                736855              $74,444.00        $34,191.00
Arizona              6728577              $51,340.00        $26,686.00
Arkansas             2968472              $42,336.00        $23,401.00
California          38654206              $63,783.00        $31,458.00

## Create a dictionary from the dataframe

In [4]:
# Make a dictionary with Names as keys
data_dictionary = income_and_pop_data_states.to_dict('index')

{'Alabama': {'Total Population': 4841164,
  'Median Household Income': '$44,758.00',
  'Per Capita Income': '$24,736.00'},
 'Alaska': {'Total Population': 736855,
  'Median Household Income': '$74,444.00',
  'Per Capita Income': '$34,191.00'},
 'Arizona': {'Total Population': 6728577,
  'Median Household Income': '$51,340.00',
  'Per Capita Income': '$26,686.00'},
 'Arkansas': {'Total Population': 2968472,
  'Median Household Income': '$42,336.00',
  'Per Capita Income': '$23,401.00'},
 'California': {'Total Population': 38654206,
  'Median Household Income': '$63,783.00',
  'Per Capita Income': '$31,458.00'},
 'Colorado': {'Total Population': 5359295,
  'Median Household Income': '$62,520.00',
  'Per Capita Income': '$33,230.00'},
 'Connecticut': {'Total Population': 3588570,
  'Median Household Income': '$71,755.00',
  'Per Capita Income': '$39,906.00'},
 'Delaware': {'Total Population': 934695,
  'Median Household Income': '$61,017.00',
  'Per Capita Income': '$31,118.00'},
 'District of Columbia': {'Total Population': 659009,
  'Median Household Income': '$72,935.00',
  'Per Capita Income': '$48,781.00'},
 'Florida': {'Total Population': 19934451,
  'Median Household Income': '$48,900.00',
  'Per Capita Income': '$27,598.00'},
 'Georgia': {'Total Population': 10099320,
  'Median Household Income': '$51,037.00',
  'Per Capita Income': '$26,678.00'},
 'Hawaii': {'Total Population': 1413673,
  'Median Household Income': '$71,977.00',
  'Per Capita Income': '$30,970.00'},
 'Idaho': {'Total Population': 1635483,
  'Median Household Income': '$49,174.00',
  'Per Capita Income': '$24,280.00'},
 'Illinois': {'Total Population': 12851684,
  'Median Household Income': '$59,196.00',
  'Per Capita Income': '$31,502.00'},
 'Indiana': {'Total Population': 6589578,
  'Median Household Income': '$50,433.00',
  'Per Capita Income': '$26,117.00'},
 'Iowa': {'Total Population': 3106589,
  'Median Household Income': '$54,570.00',
  'Per Capita Income': '$28,872.00'},
 'Kansas': {'Total Population': 2898292,
  'Median Household Income': '$53,571.00',
  'Per Capita Income': '$28,478.00'},
 'Kentucky': {'Total Population': 4411989,
  'Median Household Income': '$44,811.00',
  'Per Capita Income': '$24,802.00'},
 'Louisiana': {'Total Population': 4645670,
  'Median Household Income': '$45,652.00',
  'Per Capita Income': '$25,515.00'},
 'Maine': {'Total Population': 1329923,
  'Median Household Income': '$50,826.00',
  'Per Capita Income': '$28,473.00'},
 'Maryland': {'Total Population': 5959902,
  'Median Household Income': '$76,067.00',
  'Per Capita Income': '$37,756.00'},
 'Massachusetts': {'Total Population': 6742143,
  'Median Household Income': '$70,954.00',
  'Per Capita Income': '$38,069.00'},
 'Michigan': {'Total Population': 9909600,
  'Median Household Income': '$50,803.00',
  'Per Capita Income': '$27,549.00'},
 'Minnesota': {'Total Population': 5450868,
  'Median Household Income': '$63,217.00',
  'Per Capita Income': '$33,225.00'},
 'Mississippi': {'Total Population': 2989192,
  'Median Household Income': '$40,528.00',
  'Per Capita Income': '$21,651.00'},
 'Missouri': {'Total Population': 6059651,
  'Median Household Income': '$49,593.00',
  'Per Capita Income': '$27,044.00'},
 'Montana': {'Total Population': 1023391,
  'Median Household Income': '$48,380.00',
  'Per Capita Income': '$27,309.00'},
 'Nebraska': {'Total Population': 1881259,
  'Median Household Income': '$54,384.00',
  'Per Capita Income': '$28,596.00'},
 'Nevada': {'Total Population': 2839172,
  'Median Household Income': '$53,094.00',
  'Per Capita Income': '$27,253.00'},
 'New Hampshire': {'Total Population': 1327503,
  'Median Household Income': '$68,485.00',
  'Per Capita Income': '$35,264.00'},
 'New Jersey': {'Total Population': 8915456,
  'Median Household Income': '$73,702.00',
  'Per Capita Income': '$37,538.00'},
 'New Mexico': {'Total Population': 2082669,
  'Median Household Income': '$45,674.00',
  'Per Capita Income': '$24,459.00'},
 'New York': {'Total Population': 19697457,
  'Median Household Income': '$60,741.00',
  'Per Capita Income': '$34,212.00'},
 'North Carolina': {'Total Population': 9940828,
  'Median Household Income': '$48,256.00',
  'Per Capita Income': '$26,779.00'},
 'North Dakota': {'Total Population': 736162,
  'Median Household Income': '$59,114.00',
  'Per Capita Income': '$33,107.00'},
 'Ohio': {'Total Population': 11586941,
  'Median Household Income': '$50,674.00',
  'Per Capita Income': '$27,800.00'},
 'Oklahoma': {'Total Population': 3875589,
  'Median Household Income': '$48,038.00',
  'Per Capita Income': '$25,628.00'},
 'Oregon': {'Total Population': 3982267,
  'Median Household Income': '$53,270.00',
  'Per Capita Income': '$28,822.00'},
 'Pennsylvania': {'Total Population': 12783977,
  'Median Household Income': '$54,895.00',
  'Per Capita Income': '$30,137.00'},
 'Rhode Island': {'Total Population': 1054491,
  'Median Household Income': '$58,387.00',
  'Per Capita Income': '$31,904.00'},
 'South Carolina': {'Total Population': 4834605,
  'Median Household Income': '$46,898.00',
  'Per Capita Income': '$25,521.00'},
 'South Dakota': {'Total Population': 851058,
  'Median Household Income': '$52,078.00',
  'Per Capita Income': '$27,516.00'},
 'Tennessee': {'Total Population': 6548009,
  'Median Household Income': '$46,574.00',
  'Per Capita Income': '$26,019.00'},
 'Texas': {'Total Population': 26956435,
  'Median Household Income': '$54,727.00',
  'Per Capita Income': '$27,828.00'},
 'Utah': {'Total Population': 2948427,
  'Median Household Income': '$62,518.00',
  'Per Capita Income': '$25,600.00'},
 'Vermont': {'Total Population': 626249,
  'Median Household Income': '$56,104.00',
  'Per Capita Income': '$30,663.00'},
 'Virginia': {'Total Population': 8310301,
  'Median Household Income': '$66,149.00',
  'Per Capita Income': '$34,967.00'},
 'Washington': {'Total Population': 7073146,
  'Median Household Income': '$62,848.00',
  'Per Capita Income': '$32,999.00'},
 'West Virginia': {'Total Population': 1846092,
  'Median Household Income': '$42,644.00',
  'Per Capita Income': '$24,002.00'},
 'Wisconsin': {'Total Population': 5754798,
  'Median Household Income': '$54,610.00',
  'Per Capita Income': '$29,253.00'},
 'Wyoming': {'Total Population': 583029,
  'Median Household Income': '$59,143.00',
  'Per Capita Income': '$30,139.00'},
 'Puerto Rico': {'Total Population': 3529385,
  'Median Household Income': '$19,606.00',
  'Per Capita Income': '$11,688.00'}}

### Load the data into a MongoDB database

In [5]:
import pymongo

# Establish connection with Mongo
conn = 'mongodb://chuck:chuck@ds349175.mlab.com:49175/heroku_gl1v7mxq'
client = pymongo.MongoClient(conn)

In [6]:
# Define the database
db = client.heroku_gl1v7mxq

In [7]:
# Insert a document into the 'students' collection
db.national_census.insert_one()