# API Census Data
This code will pull data from the US Census Bureau website using a series of API calls

In [35]:
# Import appropirate dependencies
import pandas as pd
from census import Census

# Census & gmaps API Keys
from config import (census_api_key)
c = Census(census_api_key, year=2016)

In [36]:
# Collect State income data:
income_and_pop_data_states = c.acs5.get(("NAME", 'B19013_001E', 'B19301_001E', 'B01003_001E'), {'for': 'state:*'})

In [38]:
# Clean up the data
income_and_pop_data_states = pd.DataFrame(income_and_pop_data_states)
income_and_pop_data_states = income_and_pop_data_states.rename(columns={
                                      "B19013_001E": "Median Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B01003_001E": "Total Population",
                                      "NAME": "Name","state": "State"})
income_and_pop_data_states = income_and_pop_data_states[['State', 'Name', 'Total Population', 'Median Household Income', 'Per Capita Income']]
income_and_pop_data_states.head()

,State,Name,Total Population,Median Household Income,Per Capita Income
0,01,Alabama,4841164.0,44758.0,24736.0
1,02,Alaska,736855.0,74444.0,34191.0
2,04,Arizona,6728577.0,51340.0,26686.0
3,05,Arkansas,2968472.0,42336.0,23401.0
4,06,California,38654206.0,63783.0,31458.0

In [19]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from pprint import pprint

# Census & gmaps API Keys
from config import (census_api_key)
c = Census(census_api_key, year=2017)

,State,Name,Household Income,Median Contract Rent,Median Gross Rent,Median Home Value,Median Monthly Owner Costs
0,72,Puerto Rico,19775.0,362.0,464.0,115300.0,888.0
1,01,Alabama,46472.0,544.0,747.0,132100.0,1149.0
2,02,Alaska,76114.0,1091.0,1200.0,261900.0,1862.0
3,04,Arizona,53510.0,810.0,972.0,193200.0,1354.0
4,05,Arkansas,43813.0,527.0,709.0,118500.0,1039.0

In [39]:
# Collect National income data:
income_and_pop_data_states = c.acs5.get(("NAME", 'B19013_001E', 'B19301_001E', 'B01003_001E'), {'for': 'nation'})

CensusException: error: unknown/unsupported geography heirarchy